<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">My Students</h6>
    </div>
    <div id="status" ></div>
    <div class="card-body">
      <%= render partial: "students_table", locals: { students: @students } %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Students Not Enrolled To You</h6>
    </div>
    <div id="status" ></div>
    <div class="card-body">
      <%= render partial: "all_students_table", locals: { all_students: @all_students } %>
    </div>
  </div>
</div>
