<div class="container">
  <h1>Notifications</h1>
  <% if @notifications.any? %>
    <% @notifications.each do |notification|%>
      <div class="alert alert-primary" role="alert">
        <%= link_to notification.to_notification.message, notification.to_notification.url %>
      </div>
    <% end %>
  <% else %>
    <p>There are no notifications.</p>
  <% end %>
</div>
