<h1>Notifications</h1>
<ul>
  <% @notifications.each do |notification|%>
    <li>
      <%= link_to notification.to_notification.message, notification.to_notification.url %>
    </li>
  <% end %>
</ul>
