<div class="container">
  <h1>Notifications</h1>
  <% if @notifications.any? %>
    <% @notifications.each do |notification|%>
      <%= render notification, notification: notification %>
    <% end %>
  <% else %>
    <p>There are no notifications.</p>
  <% end %>
</div>
