<% if notice %>
  <div class="alert alert-success alert-dismissible fade show text-center container" role="alert">
    <%= notice %>
    <button type="button" class="btn-close btn-close-sm" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% elsif alert %>
  <p class="alert"></p>
  <div class="alert alert-warning alert-dismissible fade show text-center container" role="alert">
    <%= alert %>
    <button type="button" class="btn-close btn-close-sm" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
