<div class="col-xl-4 col-md-6 mb-4">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h5 class="card-title text-dark text-center fs-1"><%= subject.name%></h5>
      <div class="d-flex justify-content-between align-items-center mb-3">
      </div>
      <% if policy(subject).update? && policy(subject).destroy? %>
        <div class="d-flex justify-content-center">
          <%= link_to subject, class: "btn btn-sm btn-primary me-2" do %>
            <i class="bi bi-arrow-return-right"></i>
            <span>View</span>
          <% end %>
          <%= link_to edit_subject_path(subject), class: "btn btn-sm btn-secondary me-2" do %>
            <i class="bi bi-pencil"></i>
            <span>Edit</span>
          <% end %>
          <%= button_to subject, class: "btn btn-sm btn-danger me-2", method: :delete do %>
            <i class="bi bi-trash"></i>
            <span>Delete</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
