<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Subjects</h1>
  </div>
  <div class="row">
    <% if @subjects.exists? %>
      <% @subjects.each do |subject|%>
        <%= render "subject", subject: subject%>
      </div>
    </div>
  </div>
<% end %>
<% else %>
  <div class="container">
    <div class="alert alert-warning" role="alert">
      No subjects found.
    </div>
  </div>
<% end %>
</div>
</div>
<br>
<% unless current_user.student? %>
  <div class="container-fluid">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      New Subject
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <%= render "form", subject: @subject%>
    </div>
  </div>
<% end %>
