<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Subjects</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>
  <div class="row">
    <% if @subjects.exists? %>
      <% @subjects.each do |subject|%>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
            </a>
            <div class="row no-gutters align-items-center">
            </a>
            <div class="col mr-2">
              <div class="h5 font-weight-bold text-success text-uppercase mb-1">
                <%=link_to subject.name, subject%>
              </div>
              <div class="text-xs mb-0 font-weight-bold text-gray-800">
                Time
              </div>
              <div class="text-xs mb-0 font-weight-bold text-gray-800">
                00:00 - 00:00
              </div>
              <div class="text-xs mb-0 font-weight-bold text-gray-800">
                Ms. Rose Ann D. Manaig
              </div>
            </a>
          </div>
          <div class="col-auto">
            <%= button_to "Delete", subject, class: "btn btn-danger", method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% else %>
  <li class="list-group-item">No subjects found</li>
<% end %>
</div>
</div>
<br>
<%= render "form", subject: @subject, user: current_user%>
