<h4>Lessons</h4>
<div class="row row-cols-4">
  <% if subject.lessons.exists? %>
    <% subject.lessons.each do |lesson|%>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to truncate(lesson.name, length: 50), subject_lesson_path(lesson.subject, lesson) %></h5>
            <p class="card-text"><%= truncate(lesson.description, length: 100) %></p>
          </div>
          <% unless current_user.student? %>
            <div class="card-footer">
              <div class="btn-group" role="group">
                <%= button_to "Delete", [lesson.subject, lesson], class: "btn btn-danger btn-sm", method: :delete%>
                <%= link_to "Edit", edit_subject_lesson_path(lesson.subject, lesson), class: "btn btn-secondary btn-sm" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="container">
      <p>No lessons found</p>
    </div>
  <% end %>
</div>
