<div class="col-3">
  <div class="card border-primary mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= lesson.name %></h5>
      <p class="card-text"><%= lesson.description %></p>
      <%=link_to lesson.url, lesson.url%>
    </div>
  </div>
</div>
