<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title"><%= link_to truncate(lesson.name, length: 50), subject_lesson_path(lesson.subject, lesson) %></h5>
    <p class="card-text"><%= truncate(lesson.description, length: 100) %></p>
  </div>
</div>
