<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h5 class="card-title"><%= @lesson.name %></h5>
        <p class="card-text"><%= @lesson.description %></p>
        <% if @lesson.file.attached? %>
          <%= render partial: "file_viewer", locals: { file_url: rails_blob_url(@lesson.file), file_content_type: @lesson.file.content_type } %>
          <%= link_to "Download", rails_blob_path(@lesson.file, disposition: "attachment"), class: "btn btn-primary btn-sm mt-3", download: true %>
        <% else %>
          <p class="card-text">No file attached</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
