<div class="col-12 col-md-6 col-lg-4 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title"><%= link_to activity.name, subject_activity_path(activity.subject, activity)%></h5>
          <p class="card-text"><%= activity.description %></p>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
          <%=link_to "Open", activity.url, class: "btn btn-outline-primary btn-sm", target: :_blank%>
        </div>
      </div>
    </div>
  </div>
</div>
