<h4 class="mb-4">Activities</h4>
<div class="row row-cols-4">
  <% if subject.activities.exists? %>
    <% subject.activities.each do |activity|%>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= link_to activity.name, subject_activity_path(activity.subject, activity) %></h5>
            <p class="card-text"><%= activity.description %></p>
          </div>
          <% unless current_user.student? %>
            <div class="card-footer">
              <div class="btn-group" role="group">
                <%= button_to "Delete", [activity.subject, activity], class: "btn btn-danger btn-sm", method: :delete%>
                <%= link_to "Edit", edit_subject_activity_path(activity.subject, activity), class: "btn btn-secondary btn-sm" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="container text-center">
      <div class="my-5">
        <h3>Oops! No activities found.</h3>
        <p class="lead">There are currently no activities available for this subject.</p>
      </div>
    </div>
  <% end %>
</div>
