<h4>Activities</h2>
<div class="row row-cols-4">
  <% if subject.activities.exists? %>
    <% subject.activities.each do |activity|%>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h5 class="card-title"><%= link_to activity.name, subject_activity_path(activity.subject, activity) %></h5>
                <p class="card-text"><%= activity.description %></p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <% unless current_user.student? %>
          <div class="btn-group" role="group">
            <%= button_to "Delete", [activity.subject, activity], class: "btn btn-danger btn-sm", method: :delete %>
            <%= link_to "Edit", edit_subject_activity_path(activity.subject, activity), class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="container">
      <p>No activities found</p>
    </div>
  <% end %>
</div>
