<div class="container">
  <h1 class="text-center mb-4">Activities</h1>
  <div class="row">
    <% @subjects.each do |subject| %>
      <div class="col-md-12 mb-4">
        <h2 class="fw-bold mb-4"><%= subject.name %></h2>
      </div>
      <% if subject.activities.any? %>
        <% subject.activities.each do |activity| %>
          <div class="col-md-6 col-lg-4 mb-4">
            <%= render 'activity', activity: activity %>
          </div>
        <% end %>
      <% else %>
        <div class="container text-center">
          <div class="my-5">
            <h3>Oops! No activities found.</h3>
            <p class="lead">There are currently no activities available for this subject.</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
